@import '../../index.scss';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.img{
    width: $width;
}
.txt{
    font-family: 'Bad Script', cursive !important;
    font-weight: bolder;
    font-size: 20px;
}
